<%= render "shared/menu" %>
<div class="user-posts-list d-flex col">
  <div class="user-posts-item d-flex col">
    <div class="user-post-header d-flex">
      <p class="user-post-title">Post #<%= @post.id%> by <%= @post.author.name%></p>
      <p class="user-post-counters">Comments: <%=@post.comments_counter%>, Likes: <%= @post.likes_counter%></p>
    </div>
    <p class="user-post-text"><%= @post.text%></p>
    <hr class="hr-divisor">
    <div class="user-post-comments-ctn d-flex col">
      <% if @post.comments_counter > 0 %>
        <% @post.recent_comments.each do |comment| %>
          <p> <%= comment.author.name %>: <%= comment.text %> </p>
        <% end %>
      <% else %>
        <p>There are no comments yet... </p>
      <% end %>
    </div>
    <div class="form-container">
      <p>Leave a comment</p>
      <%= form_with model: [ @post.author, @post, @post.comments.build ] do |form| %>
        <p>
          <%= form.label :text, "Comment" %> <br>
          <%= form.text_area :text, rows: 5, columns: 100 %>
        </p>
        <p><%= form.submit %></p>
      <% end %>
    </div>
  </div>
</div>
