<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body class="d-flex col">
    <h1 class="app-title">THE BLOG APP!</h1>
    <% if current_user.present? %>
      <p> Welcome <%= current_user.name %> </p>
      <%= button_to "Sign out", destroy_user_session_path, :method => :delete  %>
    <% else %>
      <%= button_to "Log In", '/users/sign_in' %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
