<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <header class="header d-flex">
  <h1 class="app-title">THE BLOG APP!</h1>
  <%= render 'shared/menu' %>
  <%=  render 'shared/user-status' %>
  </header>

  <body class="d-flex col">
  <%= render 'shared/devise-flashes' %><br>
    <%= yield %>
    <footer>
    <%=  render 'shared/user-suggestion' %>
    </footer>
  </body>
</html>
